<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriceListEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPriceListService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pricelistservice.cdinfosys.co.za/PriceListWcfService.PriceListService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPriceListService"
                contract="CDInfoSys.PriceList.IPriceListService" name="BasicHttpBinding_IPriceListService" />
        </client>
    </system.serviceModel>

    <applicationSettings>
        <PriceListEditor.Properties.Settings>
            <setting name="PluginModules" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\JFDR\cs_projects\PriceListManager\PriceListEditor\bin\Debug\PriceListEditor.Module.Settings.dll</string>
                        <string>D:\JFDR\cs_projects\PriceListManager\PriceListEditor\bin\Debug\PriceListEditor.Module.Suppliers.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PriceListEditor.Properties.Settings>
    </applicationSettings>
</configuration>