<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPriceListService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pricelistservice.cdinfosys.co.za/PriceListWcfService.PriceListService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPriceListService"
                contract="CDInfoSys.PriceList.IPriceListService" name="BasicHttpBinding_IPriceListService" />
        </client>
    </system.serviceModel>
</configuration>